@model Tuple<List<BookingWebApplication.Models.Provoli>, BookingWebApplication.Models.Cinema>

<head>
    <link rel="stylesheet" href="~/css/provoles.css" asp-append-version="true" />
    <script src="~/js/provoles.js" type="text/javascript" asp-append-version="true"></script>
</head>

<h1>Projection</h1>

<div class="provoles-list">
    <table class="provoles-table">
        <tr>
            <th></th>
            <th>Movie Name</th>
            <th>Date & Time</th>
            <th>Available Seats</th>
        </tr>
        @foreach (var item in Model.Item1.OrderBy(e => e.ShowDateTime))
        {
            <tr class="provoles-table-row" id="@item.ShowDateTime" onclick="onDateTimeSelected('@item.ShowDateTime')">
                <td>
                    @{
                        if (ViewBag.UserRole.Equals("ContentAdmin"))
                        {
                            <a asp-controller="ContentAdmins" asp-action="EditProvoli"
                            asp-route-moviesId="@item.MoviesId"
                            asp-route-moviesName='@item.MoviesName'
                            asp-route-cinemasId="@item.CinemasID"
                            asp-route-showDateTime="@item.ShowDateTime"
                            asp-route-contentAdminId="@item.ContentAdminId">
                                &nbsp;
                            </a>
                        }
                        else if (ViewBag.UserRole.Equals("Customer"))
                        {
                            <a asp-controller="Reservation" asp-action="Create"
                               asp-route-cinemasId="@Model.Item2.Id"
                               asp-route-moviesId="@item.MoviesId"
                               asp-route-contentAdminsId="@item.ContentAdminId"
                               asp-route-provolesId="@item.Id">
                                &nbsp;
                            </a>
                        }
                    }
                </td>
                <td>@item.MoviesName</td>
                <td>@item.ShowDateTime</td>
                <td>@item.Cinema.Seats</td>
            </tr>
        }
    </table>
</div>
